:root {
  --primary-color: #00001a;
  --secondary-color: #5e607a;
  --tertiary-color: #f15d51;
  --quaternary-color: #e9aa52;
  --almost-white-color: #fffdfa;
  --article-text-color: #c5c6ce;
}
